.record-score-page {
    min-height: 79vh;
}

.record-hole {
    display: flex;
    justify-content: center;
}

.record-par {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.record-yardages {
    display: flex;
    justify-content: center;
    align-items: center;
}

.record-dots {
    width: 50px;
}

.counter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter-btn {
    width: 50px;
    height: 40px;
    margin: 20px;
    background-color: gold;
}

.submit-score {
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit-btn {
    width: 80vw;
    height: 55px;
    background-color: gold;
    font-size: 20px;
    border-radius: 5px;
}