.counter {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    width: 70%;
}

.counter-arrow {
    color: rgb(87,141,232);
}

.counter-btn {
    background-color: gold;
    border: 2px solid slategrey;
    border-radius: 5px;
    box-shadow: 3px 3px 5px grey;
    height: 40px;
    margin: 20px;
    width: 50px;
}

.counter-value {
    font-size: 3.3rem;
}

.record-dots {
    border-radius: 50%;
    margin: 0 2px 0 12px;
    width: 38px;
}

.record-hole {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

.record-par {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 0;
}

.record-par > h4 {
    padding-bottom: 0.5rem;
}

.record-score-page {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.record-yardages {
    align-items: center;
    display: flex;
    font-size: 1.2rem;
    justify-content: flex-end;
    padding: 1rem 0;
}

.submit-btn {
    background-color: gold;
    border: 2px solid slategrey;
    border-radius: 5px;
    box-shadow: 3px 3px 5px grey;
    height: 55px;
    font-size: 20px;
    width: 25rem;
}

.submit-btn:hover {
    background-color: grey;
    color: whitesmoke;
    transition: .5s;
}

.submit-score {
    align-items: center;
    display: flex;
    justify-content: center;
}