.nav-bar {
    background-color: aquamarine;
    height: 120px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.heading {
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
}