.footer {
    background-color: gold;
    display: grid;
    font-family: 'Lato', sans-serif;
    grid-template-rows: 1fr 1fr;
    width: 100vw;
}

.samuel {
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-links {
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links {
    text-decoration: none;
    color: rgb(87,141,232);
    margin: 10px;
}

.links:hover {
    color: gold;
    transition: .5s;
}
