.new-round-btn {
    height: 40px;
    width: 100%;
    background-color: rgb(87,141,232);
    color: white;
    border-radius: 5px;
}

.new-round-btn:hover {
    color:black;
    background-color: gold;
    transition: .5s;
}

.ScoreCardPage {
    width: 100%;
}